<section class="app-container">
  <header>
    <mat-toolbar color="primary"> Static Header </mat-toolbar>
  </header>
  <section class="content-container">
    <mat-sidenav-container class="example-container" *ngIf="shouldRun">
      <mat-sidenav #sidenav [mode]="mode.value">
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
        <p>
          <mat-radio-group class="example-radio-group" [formControl]="mode">
            <label>Mode:</label>
            <mat-radio-button value="over">Over</mat-radio-button>
            <mat-radio-button value="side">Side</mat-radio-button>
            <mat-radio-button value="push">Push</mat-radio-button>
          </mat-radio-group>
        </p>
      </mat-sidenav>

      <mat-sidenav-content>
        <div fxLayout="column">
          <div
            fxLayout="row"
            fxFlex="30"
            fxFlexFill
            style="background-color: #e8fd74"
            fxLayoutAlign="space-around strech"
          >
            <div
              fxFlex="10"
              style="background-color: #f1fac0"
              fxLayoutAlign="center center"
            >
              <p class="sidebarbtn">
                <button mat-button (click)="sidenav.toggle()">Button</button>
              </p>
            </div>
          </div>
          <div
            fxLayout="row"
            fxFlex="70"
            fxFlexFill
            style="background-color: #e8fd74"
            fxLayoutAlign="space-around strech"
          >
            <div
              fxFlex="90"
              style="background-color: #f1fac0"
              fxLayoutAlign="center center"
            >
              <p>
                <mat-radio-group
                  class="example-radio-group"
                  [formControl]="mode"
                >
                  <label>Mode:</label>
                  <mat-radio-button value="over">Over</mat-radio-button>
                  <mat-radio-button value="side">Side</mat-radio-button>
                  <mat-radio-button value="push">Push</mat-radio-button>
                </mat-radio-group>
              </p>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
</section>
<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
